/* auther : wak wak team,
 "fatma elzahraa abdelaleem", 
 "rwan adel omar , 
 "shady mohamed radwan ,
 "farah mahmoud mahfouz ", 
 "yasser ahmed salem"""   */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.transition-opacity {
  animation: slide 0.7s ease-in-out;
}

* {
  body {
    font-family: "Poppins", sans-serif;
  }
}

.group:hover .bg-green-700 {
  transform: scaleX(1);
}

.bg-green-700 {
  transform: scaleX(0);
  transition: transform 0.5s;
}


.container {
  max-width: clamp(320px, 90vw, 1220px);
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}